.container {
  display: flex;
  flex-direction: column;

  textarea {
    width: 100%;
  }

  .buttonContainer {
    margin: 1rem 0;

    button {
      width: 150px;
      margin-right: 1rem;
    }
  }
}
